table {
  margin: 10px auto;
  border-collapse: collapse;
}
table,
td {
  border: 2px solid black;
}

.container {
  text-align: center;
}
.toolBar {
  margin: 5px;
  padding: 5px;
}

.accountSelectionDiv {
  padding: 5px;
}
.accountSelectionDiv select {
  width: 200px;
}

.toolBar input {
  margin-right: 5px;
}
tfoot td {
  border: none;
}
