<h1>View Your Account Statement</h1>

<div class="container">
  <div class="accountSelectionDiv">
    <label>Select Account: </label>
    <select>
      <option *ngFor="let account of accounts"> {{account}} </option>
    </select>
  </div>
  <div class="toolBar">
    <input
      type="text"
      placeholder="Search by transaction"
      [(ngModel)]="searchValue"
      (ngModelChange)="onSearchChange($event)"
    />
    <label>Sort By: </label>
    <select (change)="onSortByChanged($event)">
      <option [value]=""></option>
      <option value="Date"> Date </option>
      <option value="Value Date"> Value Date </option>
      <option value="Balance AMT"> Balance AMT </option>
    </select>
  </div>
  <div>
    <table>
      <thead>
        <td>Date</td>
        <td>Transaction Details</td>
        <td>Value Date</td>
        <td>Withdrawal AMT</td>
        <td>Deposit AMT</td>
        <td>Balance AMT</td>
      </thead>
      <tr *ngFor="let account of accountDetails">
        <td>{{account['Date']}}</td>
        <td>{{account['Transaction Details']}}</td>
        <td>{{account['Value Date']}}</td>
        <td>{{account['Withdrawal AMT']}}</td>
        <td>{{account['Deposit AMT']}}</td>
        <td>{{account['Balance AMT']}}</td>
      </tr>
    </table>
  </div>
</div>
